@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>
@model ConfigurationModel

@{
    Layout = "_ConfigurePlugin";
}

<form asp-controller="WidgetsNivoSliderClone" asp-action="Configure" method="post" enctype="multipart/form-data">
    <section class="content">
        <div class="container-fluid">
            <div class="cards-group">
                <div class="card card-default">
                    <div class="card-header">
                        @T("Plugins.Widgets.NivoSliderClone.Picture1")
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Picture1Id" />
                            </div>
                            <div class="col-md-9">
                                <input type="file" name="File1" />
                                <div class="upload-picture-block">
                                    <div class="picture-container">
                                        <div class="uploaded-image">
                                            <img src="@Model.Picture1Url"  width="100" height="41"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Text1" />
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="Text1" value="@Model.Text1" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Link1" />
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="Link1" value="@Model.Link1" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">
                        @T("Plugins.Widgets.NivoSliderClone.Picture2")
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Picture2Id" />
                            </div>
                            <div class="col-md-9">
                                <input type="file" name="File2" />
                                <div class="upload-picture-block">
                                    <div class="picture-container">
                                        <div class="uploaded-image">
                                            <img src="@Model.Picture2Url"  width="100" height="41"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Text2" />
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="Text2" value="@Model.Text2" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Link2" />
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="Link2" value="@Model.Link2" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">
                        @T("Plugins.Widgets.NivoSliderClone.Picture3")
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Picture3Id" />
                            </div>
                            <div class="col-md-9">
                                <input type="file" name="File3" />
                                <div class="upload-picture-block">
                                    <div class="picture-container">
                                        <div class="uploaded-image">
                                            <img src="@Model.Picture3Url"  width="100" height="41"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Text3" />
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="Text3" value="@Model.Text3" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Link3" />
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="Link3" value="@Model.Link3" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">
                        @T("Plugins.Widgets.NivoSliderClone.Picture4")
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Picture4Id" />
                            </div>
                            <div class="col-md-9">
                                <input type="file" name="File4" />
                                <div class="upload-picture-block">
                                    <div class="picture-container">
                                        <div class="uploaded-image">
                                            <img src="@Model.Picture4Url"  width="100" height="41"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Text4" />
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="Text4" value="@Model.Text4" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Link4" />
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="Link4" value="@Model.Link4" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">
                        @T("Plugins.Widgets.NivoSliderClone.Picture5")
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Picture5Id" />
                            </div>
                            <div class="col-md-9">
                                <input type="file" name="File5" />
                                <div class="upload-picture-block">
                                    <div class="picture-container">
                                        <div class="uploaded-image">
                                            <img src="@Model.Picture5Url"  width="100" height="41"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Text5" />
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="Text5" value="@Model.Text5" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Link5" />
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="Link5" value="@Model.Link5" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-9 offset-md-3">
                                <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>